<nav class="navbar sticky-top navbar-inverse bg-dark">
  <a class="navbar-header" href="#">
    <h1>Andreas Pavlis</h1>
  </a>
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/Nav1Component" routerLinkActive="active" href="#">folder1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Nav2Component" routerLinkActive="active" href="#">folder2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Nav3Component" routerLinkActive="active" href="#">folder3</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/Nav4Component" routerLinkActive="active" href="#">folder4</a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>