* {
    font-family: 'Times New Roman', Times, serif;
    color:rgb(180, 159, 159) !important;
    background-color: black !important;
}

img {
    max-height: 350px !important;
    max-width:  250px !important;
}